@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  border: 3px solid #7e7;
  background-color: #7e7;
  font-family: "Georiga", serif;
  overflow: hidden;
  padding: 1em 0 40px;
  width: 100%;
  position: relative;
}

nav {
  padding-top: 0.5em;
  font-size: 1.125rem;
  display: inline-block;
  float: left;
  width: 60%;
}

.nav {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #ccc;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.banner {
  width: 109%;
  margin-right: 17em;
  height: 109%;
}

banner-content {
  width: 90%;
}

.banner-content {
  max-width: inherit;
}

.current {
  margin: 0;
  display: inline-block;
}

.about-us {
  margin: 0;
  display: inline-block;
}

.recommendation {
  margin: 0;
  display: inline-block;
}

.stay-healthy {
  margin: 0;
  display: inline-block;
}

.card-01 {
  width: 100%;
  display: inline-block;
}

.card-02 {
  width: 100%;
  display: inline-block;
}

.card-03 {
  width: 100%;
  display: inline-block;
}

.card {
  margin: 3em;
}

.card-link {
  background-color: #999;
  margin: 2em;
}

.card-picture-1 {
  width: 100%;
  position: relative;
  left: 20%;
  margin-top: -3em;
}

.card-picture-2 {
  width: 100%;
  left: 30%;
  left: 20%;
}

.card-picture-3 {
  width: 100%;
  left: 40%;
}

.card-picture-4 {
  width: 60%;
}

.card-picture-5 {
  width: 100%;
  height: 60%;
}

.card-picture-6 {
  width: 80%;
  height: 90%;
}

.card-picture-7 {
  width: 80%;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

body {
  font-family: "Georiga", serif;
  margin: 0;
  padding: 0;
  background-color: #777;
}

.body-1 {
  text-align: center;
}

.body-2 {
  text-align: center;
}

.body-3 {
  text-align: center;
  position: relative;
}

.img-flex {
  width: 92%;
  display: block;
}

.card {
  width: 100%;
  padding: inherit;
}

a {
  text-decoration: none;
  padding: 1em 1em 0em;
  margin: 0;
  color: #cfcfcf;
  display: inline-block;
}

a:hover {
  background-color: #cc1465;
  color: #fff;
}

h1 {
  color: #fff;
  float: left;
  width: 40%;
}

h2 {
  color: #666;
  font-size: 1.875rem;
}

h3 {
  color: #3e3;
  margin-left: 3em;
}

p {
  color: #fff;
}

.card-1, .card-2, .card-3 {
  display: inline-block;
}

section {
  width: 100%;
}

.banner-content {
  background-color: #e2e2e2;
  margin: 1em;
  padding: 0;
}

img {
  border: 1em;
}

.img class {
  border: 3em;
  margin: 5em;
}

footer {
  background-color: #cfcfcf;
  font-size: 0.75rem;
}

ul {
  width: 100%;
}

.icon-1 {
  width: 20%;
}

.icon-2 {
  width: 50%;
}

.icon-3 {
  width: 20%;
}

.icon-1, .icon-2, .icon-3 {
  width: 20%;
  display: inline-block;
}

@media only screen and (min-width: 25em) {

  header {
    border: 2px solid #7e7;
    background-color: #7e7;
    font-family: "Georiga", serif;
    overflow: hidden;
    padding: 1em 2em 40px;
    width: 128%;
    position: relative;
  }

  .img-flex {
    width:118%;
    display: block;
  }

  body {
    font-size: 110%;
    line-height: 1.5;
  }

  .card-1, .card-2, .card-3 {
    width: 100%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }

  .picture-card-5 {
    width: 90%;
    padding: 3em;
  }

  .copyight,
  .source {
    float: left;
  }

  .card-01 {
    width: 80%;
    display: inline-block;
    margin: 10%;
  }

  .card-02 {
    width: 80%;
    display: inline-block;
    margin: 10%;
  }

  .card-03 {
    width: 80%;
    display: inline-block;
    margin: 10%;
  }

  .card-1, .card-2, .card-3 {
    width: 120%;
    display: inline-block;
  }

  footer {
    background-color: #cfcfcf;
    font-size: 0.75rem;
    width: 140%;
  }

  .icon-1 {
    width: 10%;
  }

  .icon-2 {
    width: 10%;
  }

  .icon-3 {
    width: 10%;
  }
}

@media only screen and (min-width: 38em) {

  header {
    border: 2px solid #7e7;
    background-color: #7e7;
    font-family: "Georiga", serif;
    overflow: hidden;
    padding: 1em 2em 40px;
    width: 130%;
    margin: 0;
    position: relative;
  }

  .img-flex {
    display: block;
    width: 100%;
  }

  body {
    font-size: 110%;
    line-height: 1.4;
  }

  .banner-content {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-left: 1em;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  .card {
    width: 90%;
    padding: inherit;
  }

  .card-1, .card-2, .card-3 {
    width: 30%;
    display: inline-block;
    margin-left: 4em;
    margin-right: -3em;
  }

  .card-picture-4 {
    width: 110%;
    display: inline-block;
  }

  .card-picture-5 {
    width: 100%;
    display: inline-block;
  }

  .card-picture-6 {
    width: 110%;
    display: inline-block;
  }

  .card-picture-7 {
    width: 110%;
    display: inline-block;
  }

  p {
    margin-right: -1em;
    margin-left: 3em;
  }

  footer {
    background-color: #cfcfcf;
    font-size: 0.75rem;
    width: 140%;
  }
}

@media only screen and (min-width: 60em) {

  body {
    font-size: 120%;
  }

  .nav {
    display: block;
  }
}

@media only screen and (min-width: 90em) {

  body {
    font-size: 130%;
  }
}
